mixin slider({ min, max, step, isRange, orientation, value, values, hasTip, hasLine } = {})
  .slider.js-slider(
    data-min=min 
    data-max=max 
    data-step=step
    data-is-range=isRange 
    data-orientation=orientation 
    data-value=value 
    data-values=values 
    data-has-tip=hasTip 
    data-has-line=hasLine
  )