mixin slider({ min, max, step, isRange, isVertical, from, to, hasTip, hasLine } = {})
  .slider.js-slider(
    data-min=min
    data-max=max 
    data-step=step
    data-is-range=isRange 
    data-is-vertical=isVertical 
    data-from=from 
    data-to=to 
    data-has-tip=hasTip 
    data-has-line=hasLine
  )