mixin particles-background({ bgColor = 'rgba(17, 17, 19, 1)', particleColor = 'rgba(255, 255, 255, 1)', particleRadius = 5, particleCount = 100, particleMaxVelocity = 0.5 } = {})
  canvas.particles-background(
    data-bg-color=bgColor 
    data-particle-color=particleColor
    data-particle-radius=particleRadius
    data-particle-count=particleCount
    data-particle-max-velocity=particleMaxVelocity
  )
